<p class="title">Statistics for <%=@survey.title%></p>

<div id="total_takers">
	<p>Number of times survey has been taken : <%=@survey.total_takers%></p>
</div>
<div id="question_stats_list">
	<%@survey.questions.each_with_index do |question,index|%>
	<table>
		<div id="question_stat">
			<p class="question"><%=index+1%>. <%=question.body%></p>
			<tr>
				<th>Choice</th>
				<th>Responses</th>
				<th>Percentage</th>
			</tr>
		</div>
		<div id="choice_stat_list">
			<%question.choices.each do |choice|%>
			<div id="choice_stat">
				<div class="stats-div">
					<tr>
						<td><p class="stats"><%=choice.body%> </td>
						<td><%=@survey.num_times_chosen(choice)%> </td>
						<td><p class="stats-bar"><span class="stats-text"><%=@survey.percentage(choice)%></span></p></td>
					</tr>
				</div>
				<%end%>
			</div>
			<%end%>
		</div>
	</table>
</div>